<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>-->
  </configSections>
  <connectionStrings>
    <!--<add name="CeaseFireDatabase" connectionString="Database=CFFMSDB;Server=103.245.201.45;uid=CFFMSLogin;pwd=CFFMSLogin@123;Connection Timeout=99999;Enlist=true;Max Pool Size=250;Pooling=true;" providerName="System.Data.SqlClient"/>-->
    <add name="CeaseFireDatabase" connectionString="Database=CeaseFire;Server=ADMIN-PC;uid=sa;pwd=sa123;Connection Timeout=99999;Enlist=true;Max Pool Size=250;Pooling=true;" providerName="System.Data.SqlClient" />
    <!--<add name="CeaseFireDatabase" connectionString="Database=CeaseFire;Server=PRAKASHIT;uid=ops;pwd=ops123;Connection Timeout=99999;Enlist=true;Max Pool Size=250;Pooling=true;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="UseMicrosoftJet" value="true" />
    <add key="aspnet:UseLegacyBrowserCaps" value="true" />
    <add key="CompanyName" value="Cease Fire" />
    <add key="AppURL" value="http://localhost:1971/CeaseFireProject/" />
    <!--<add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />-->
    <add key="SmtpPort" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="MailPWD" value="" />
    <add key="MailUser" value="pranjan81@gmail.com" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="DefaultEmailFrom" value="pranjan81@gmail.com" />
    <add key="EmployeeImages" value="../EmployeeImages" />
    <add key="DownloadFldr" value="../Temp/DownloadXLS" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="GoogleAPIKey" value="AIzaSyDnpz_XCGzMRDHMBFlqvcq8m80Q6x66fLw" />
    <add key="RequestEmailTo" value="singh.sumit329@gmail.com" />
    <add key="ItemImage" value="ItemImage" />
    <add key="AssetDocument" value="AssetDocument" />
    <add key="RentDocument" value="RentDocument" />
    <add key="FMSLibrary" value="FMSLibrary" />
    <add key="AuditerImagePath" value="AuditerImagePath" />
    <add key="AuditerVideoPath" value="AuditerVideoPath" />
    <add key="BillPath" value="BillPath" />
    <add key="DocumentPath" value="DocumentPath" />
    <add key="SupervisorImage" value="SupervisorImage" />
    <add key="SupervisorVideo" value="SupervisorVideo" />
    <add key="PIApprovalEmpCode" value="E26024" />
    <add key="RequestUpdate" value="E26024" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Practices.ObjectBuilder2, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Practices.Unity, Version=1.2.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.DataVisualization.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      </assemblies>
      <buildProviders>
        <!--<add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<customErrors mode="On" defaultRedirect="../Error.aspx">
      <error statusCode="404" redirect="../Error.aspx"></error>
    </customErrors>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add src="~/UserControl/Message.ascx" tagName="MessageBox" tagPrefix="Message" />
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="AjaxTools" />
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit.HTMLEditor" tagPrefix="AjaxEditor" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add src="~/UserControl/LogInfo.ascx" tagName="LogInfo" tagPrefix="LogInfo" />
        <add src="~/UserControl/Leftmenu.ascx" tagName="LeftMenu" tagPrefix="LeftMenu" />
        <add src="~/UserControl/Footer.ascx" tagName="Footer" tagPrefix="Footer" />
      </controls>
    </pages>
    <httpHandlers>
      <!--<add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>z-->
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpRuntime maxRequestLength="1024000" executionTimeout="999999" requestValidationMode="2.0" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
<!--ProjectGuid: e865d037-18c3-4315-a026-ed23ee89e50a-->